@model TestTaskDomain.Models.CompanySubdivision

<div class="modal-content">
    <div class="modal-header">
        <h5>Добавление</h5>
        <a href="#" class="link-info" data-bs-dismiss="modal" area-hidden="true" >
            <i class="fa fa-close"></i>
        </a>

    </div>

    <div class="row modal-body">
        <form asp-action="Create" class="col-12">

            <input type="hidden" asp-for="CompanySubdivisionId" class="form-control" value="@ViewBag.ParentId" />

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

        </form>
    </div>
    <div class="text-right modal-footer">
        <a class="mr-15 btn btn-outline-secondary" data-bs-dismiss="modal" area-hidden="true">Отмена</a>
        <input type="button" onclick="SaveTreeNodeChange($('form').serialize(), 'Create')" value="Сохранить" class="btn btn-primary" />
    </div>
</div>